<h1>About Amazing Amazon</h1>

<p>This app was created by <a href="https://github.com/hasonnn">@hason</a>!</p>
<p>Created using Ruby on Rails, Amazing Amazon allows you to create new products, see a list of all the products, edit/delete items and leave reviews for each item.</p>

