<% if @tag.present? %>
    <h2>Showing Products tagged by:
        <span class="badge badge-pill badge-primary"><%= @tag.name %></span>
    </h2>
<% end %>

<% @products.each do |product| %>
    <div>
        <h2><%= link_to product.title, product_path(product) %></h2>
        <p><%= product.description %></p>
        <p>$<%= product.price %></p>
    </div>
<% end %>
